table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
}

ul {
    color: red;
}

img {
    width: 50px;
}

.fila-imagenes {
    text-align: center;
}

tr.capacidad>td {
    background-color: grey;
    font-size: 2em;
}

.propiedad {
    background-color: red;
    color: white;
}

[colspan="2"],
[colspan="3"] {
    background-color: blue;
}

.amarillo {
    background-color: yellow;
    padding: 50px;
}