html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.titulo {
    --margin: 0 auto;     /* No funciona porque el texto dentro de un header es inline */
    text-align: center;
}

ul {
    background-color: black;
    color: white;
    list-style-type: none;
}

ul li {
    display: inline-block;
    padding: 10px 20px;
}

.container-1 {
    background-color: black;
    color: white;
    float: left;
    height: 500px;
    width: 15%;
}

.container-1 li {
    display: list-item;
}

.container-2 {
    float: left;
    height: 250px;
    margin-left: 2%;
    width: 83%;
}

.container-2 div {
    border: 1px solid black;
    border-radius: 10px;
    font-size: 0.9em;
    float: left;
    padding: 10px;
    text-align: center;
    width: 32%;
}

img {
    width: 100px;
}

.container-3 {
    column-count: 3;    /* Hay que aplicarselo al contenedor */
    float: left;
    height: 250px;      /* Hay que aplicarle una altura para que funcionen las columnas */
    margin-left: 2%;
    padding-top: 2%;
    width: 83%;
}

footer {
    background-color: lightgrey;
    clear: both;    /* Si no se pone esta propiedad, se colocará debajo del último elemento no flotante */
    float: left;
    text-align: center;
    width: 100%;
}